### Cargamos base de datos

In [1]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos MySQL
conn = mysql.connector.connect(
    host="localhost",    # El servidor de la base de datos (puede ser "localhost")
    user="root",   # Tu usuario de MySQL
    password="root",  # Tu contraseña de MySQL
    database="videojuego"  # El nombre de la base de datos
)

# Crear un cursor
cursor = conn.cursor()

### Query obtener datos Hall of Fame

In [2]:
query_hallOfFame = '''
SELECT webuser.userName, webuser.email, webuser.country, completeddungeons.time, dungeon.idD, dungeon.name, completeddungeons.date
FROM completeddungeons
INNER JOIN webuser on completeddungeons.email = webuser.email
INNER JOIN dungeon ON completeddungeons.idD = dungeon.IdD
'''

# Consulta para hall of fame
cursor.execute(query_hallOfFame)
resultados_hallOfFame = cursor.fetchall()
columnas_hallOfFame = [desc[0] for desc in cursor.description]
df_hallOfFame = pd.DataFrame(resultados_hallOfFame, columns=columnas_hallOfFame)
df_hallOfFame.to_csv('resultados/hall_of_fame.csv', index=False, encoding='utf-8')

In [ ]:
import pandas as pd

# Carga el archivo original
input_file = 'resultados/hall_of_fame.csv'
output_file = 'resultados/hall_of_fame_top5.csv'

# Leer el archivo CSV
data = pd.read_csv(input_file)

# data[data['time'] == 0] # HAY EN TODAS LAS MAZMORRAS CON 0 MIN!!!!
# Convertir la columna "time" a tipo entero para ordenar correctamente
data['time'] = data['time'].astype(int)

# Ordenar los datos por idD y time, y luego seleccionar los 5 mejores tiempos por cada idD
top5 = data.sort_values(by=['idD', 'time']).groupby('idD').head(5)

# Guardar el resultado en un nuevo archivo CSV
top5.to_csv(output_file, index=False)

print(f"Archivo guardado como '{output_file}' con los 5 mejores tiempos por mazmorra.")

,userName,email,country,time,idD,name,date
717,zvorontsova,afanasi_21@example.org,ru_RU,0,0,"Burghap, Prison of the Jealous Hippies",2017-08-12 04:59:33
3239,sidorefremov,anikekuzmin@example.com,ru_RU,0,0,"Burghap, Prison of the Jealous Hippies",2021-03-05 07:34:03
5627,gcoe,baegyeongil@example.com,ko_KR,0,0,"Burghap, Prison of the Jealous Hippies",2020-03-20 12:43:00
6660,victorino97,begonavera@example.net,es_ES,0,0,"Burghap, Prison of the Jealous Hippies",2019-12-17 03:26:00
10725,eloahcosta,cavalcantimaria-cecilia@example.com,pt_BR,0,0,"Burghap, Prison of the Jealous Hippies",2021-11-07 11:22:24
...,...,...,...,...,...,...,...
1999779,maaya76,zsakamoto@example.net,ja_JP,0,19,"Dalhylles, Culverts of the Grumpy Bandits",2022-07-05 21:33:32
1999916,batllebeatriz,zvall@example.com,es_ES,0,19,"Dalhylles, Culverts of the Grumpy Bandits",2022-05-26 01:12:49
1999939,xlefebvre,zwagner@example.com,fr_FR,0,19,"Dalhylles, Culverts of the Grumpy Bandits",2022-12-01 06:32:42
1999972,eknappe,zwulf@example.net,de_DE,0,19,"Dalhylles, Culverts of the Grumpy Bandits",2022-10-21 14:32:53
1999986,likong,zzhao@example.com,zh_TW,0,19,"Dalhylles, Culverts of the Grumpy Bandits",2021-09-28 23:32:06

In [6]:
import pandas as pd

df = pd.read_csv(output_file)
df.idD.value_counts()

idD
0     5
1     5
18    5
17    5
16    5
15    5
14    5
13    5
12    5
11    5
10    5
9     5
8     5
7     5
6     5
5     5
4     5
3     5
2     5
19    5
Name: count, dtype: int64

### Query obtener datos Estadísticas

In [2]:

query_estadisticas = '''
SELECT webuser.email, completeddungeons.idD, completeddungeons.time, completeddungeons.date
FROM completeddungeons
INNER JOIN webuser on completeddungeons.email = webuser.email
'''

# Consulta para estadísticas
cursor.execute(query_estadisticas)
resultados_estadisticas = cursor.fetchall()
columnas_estadisticas = [desc[0] for desc in cursor.description]
df_estadisticas = pd.DataFrame(resultados_estadisticas, columns=columnas_estadisticas)
df_estadisticas.to_csv('resultados/estadisticas.csv', index=False, encoding='utf-8')

### Query obtener datos Hordas

In [4]:
query_hordas = '''
SELECT webuser.userName, webuser.email, webuser.country, kills.idE, COUNT(DISTINCT kills.idK) AS num_kills
FROM kills
INNER JOIN webuser on kills.email = webuser.email
GROUP BY webuser.userName, webuser.email, webuser.country, kills.idE
'''

# Consulta para hordas
cursor.execute(query_hordas)
resultados_hordas = cursor.fetchall()
columnas_hordas = [desc[0] for desc in cursor.description]
df_hordas = pd.DataFrame(resultados_hordas, columns=columnas_hordas)
df_hordas.to_csv('resultados/hordas.csv', index=False, encoding='utf-8')

In [5]:
query_dungeons = '''
SELECT dungeon.idD, dungeon.name
FROM dungeon
'''

# Consulta para hordas
cursor.execute(query_dungeons)
resultados_hordas = cursor.fetchall()
columnas_hordas = [desc[0] for desc in cursor.description]
df_hordas = pd.DataFrame(resultados_hordas, columns=columnas_hordas)
df_hordas.to_csv('resultados/dungeons.csv', index=False, encoding='utf-8')

In [6]:
query_usuarios = '''
SELECT webuser.email, webuser.username, webuser.country
FROM webuser
'''

# Consulta para hordas
cursor.execute(query_usuarios)
resultados_hordas = cursor.fetchall()
columnas_hordas = [desc[0] for desc in cursor.description]
df_hordas = pd.DataFrame(resultados_hordas, columns=columnas_hordas)
df_hordas.to_csv('resultados/usuarios.csv', index=False, encoding='utf-8')

In [7]:
# Cerrar el cursor y la conexión
cursor.close()
conn.close()